#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

#frame, #div-form{
  text-align: center;
}

.input {
  margin: 10px;
}
form {
  border: solid black 2px;
  box-shadow: 4px 15px lightpink;
  padding: 20px;
  border-radius: 2px;
  background-color: lightgoldenrodyellow;
  text-align: center;
}

.button {
  padding: 10px;
  border: 1px solid black;
  border-radius: 2px;
  background-color: white;
}

h1 {
  font-family: "Kumbh Sans", sans-serif;
}

.label,
button {
  font-family: "Kumbh Sans", sans-serif;
}

.shakey {
  animation-name: shake;
  animation-duration: 0.6s;
}

@keyframes shake {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-5px);
  }
  37% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  62% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(-5px);
  }
  99% {
    transform: translateY(0);
  }
}

.red-border {
  border: 2px solid red;
}
